@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');


body{
    background: rgb(195,185,34);
    background: linear-gradient(-45deg, rgba(195,185,34,1) 0%, rgba(253,187,45,1) 100%);
    background-repeat: no-repeat;
}